---
title: Account Activation
published: true
layout: transactional-text-layout
preheader: Hi *|FIRSTNAME|*, thanks for signing up with RateMyPlacement.
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Just one more step...
		</td>
	</tr>
	<tr>
		<td class="p">			
			Hi *|FIRSTNAME|*,
		</td>
	</tr>
	<tr>
		<td class="p">
			Thanks for signing up with RateMyPlacement.
		</td>
	</tr>
	<tr>
		<td class="p">
			Please click the big button below to confirm your RateMyPlacement Account.
		</td>
	</tr>
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="cta cta-green cta-big  cta-centered" style="padding-top: 10px;">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="*|URL|*">Confirm your account &rarr;</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="p">
			See you shortly,<br>
			The RateMyPlacement Team
		</td>
	</tr>
</table>
{% endblock %}
