---
title: Account Password Reset
published: true
layout: transactional-text-layout
preheader: Hi *|FIRSTNAME|*, we got a request to change your RateMyApprenticeship password.
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Oh no! You forgot your password!
		</td>
	</tr>
	<tr>
		<td class="p ">
			*|FIRSTNAME|*  don’t worry!
		</td>
	</tr>
	<tr>
		<td class="p">			
			We got a request to change your RateMyApprenticeship password.
		</td>
	</tr>
	<tr>
		<td class="p">
			If you didn't make this request, just ignore this email. Otherwise, please click the button below to change your password:
		</td>
	</tr>
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="cta cta-green cta-centered" style="padding-top: 10px;">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="*|LINK|*">Change my password &rarr;</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>	
	<tr>
		<td class="p">
			Please note this link is only valid for <strong>24 hours</strong>.
		</td>
	</tr>
	<tr>
		<td class="p">
			See you shortly,<br>
			The RateMyApprenticeship Team
		</td>
	</tr>
</table>
{% endblock %}
