---
title: Admin Contact Form Reported Issue
published: true
layout: transactional-text-layout
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">			
			User Reported A Problem
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Name:</strong>	*|NAME|*		
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Email:</strong>	<a href="mailto:*|EMAIL|*">*|EMAIL|*</a>		
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Problem Page:</strong> <a href="*|URL|*">*|URL|*</a>
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Problem:</strong><br>
			*|ENQUIRY|*		
		</td>
	</tr>
</table>
{% endblock %}
