---
title: Admin Reported Reviews
published: true
layout: transactional-text-layout
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	*|IF:REPORTED_BY=USER|*
	<tr>
		<td class="h3 first">
			A User Reported A Review
		</td>
	</tr>	
	<tr>
		<td class="p">
			*|SENDER_NAME|* a user reported a review for the following reason:
		</td>
	</tr>
	<tr>
		<td class="p">
			*|COMMENT|*
		</td>
	</tr>
	<tr>
		<td class="p">
			<a href="*|REVIEW_URL|*">Link to the review</a> 
		</td>
	</tr>
	<tr>
		<td class="p">
			Reported by: *|SENDER_URL|*
		</td>
	</tr>
	*|IF:REPORTED_BY=COMPANY|*
	<tr>
		<td class="h3 first">
			A Company Reported A Review
		</td>
	</tr>	
	<tr>
		<td class="p">
			A review has been marked as inappropriate by a moderating company:
		</td>
	</tr>
	<tr>
		<td class="p">
			<a href="http://www.ratemyplacement.co.uk/placement-review/*|REVIEW_ID|*">Link to the review</a> 
		</td>
	</tr>
	<tr>
		<td class="p">
			<a href="http://www.ratemyplacement.co.uk/company-profile/*|COMPANY_ID|*">Link to company profile</a>
		</td>
	</tr>
	*|END:IF|*
</table>
{% endblock %}
