---
title: Admin Contact Form General
published: true
layout: transactional-text-layout
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			RateMyPlacement Contact Form 
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Name:</strong>	*|NAME|*		
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Phone:</strong>	*|PHONE|*		
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Email:</strong>	<a href="mailto:*|EMAIL|*">*|EMAIL|*</a>		
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Enquiry:</strong><br>
			*|MESSAGE|*		
		</td>
	</tr>
</table>
{% endblock %}
