---
title: Admin Report a Problem
published: true
layout: transactional-text-layout
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Report a problem
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Email:</strong>	<a href="mailto:*|EMAIL|*">*|EMAIL|*</a>		
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Problem:</strong><br>
			*|PROBLEM|*		
		</td>
	</tr>
</table>
{% endblock %}
