---
title: Review Live
published: true
layout: transactional-text-layout
preheader: Hi *|FIRSTNAME|*, your review has been approved and is now live.
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			*|IF:VOUCHER_APPROVED=TRUE|*			
				Your Review and Amazon Voucher
			*|ELSE:|*
				Your Review
			*|END:IF|*
		</td>
	</tr>
	<tr>
		<td class="p">			
			Congratulations *|FIRSTNAME|*,
		</td>
	</tr>
	<tr>
		<td class="p">
			Your review has been approved and is now <a href="*|URL|*">live on RateMyApprenticeship</a>.
		</td>
	</tr>
	*|IF:VOUCHER_APPROVED=TRUE|*
	<tr>
		<td class="p">
			Thanks for writing such great comments - you can now claim your £5 Amazon Gift Certificate.  
		</td>
	</tr>
	<tr>
        <td class="hr-top">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="hr-bottom">
            &nbsp;
        </td>
    </tr>
	<tr>
		<td class="cta cta-green cta-centered" style="padding-top: 10px;">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="*|VOUCHER_LINK|*">Claim your voucher &rarr;</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
        <td class="hr-top">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="hr-bottom">
            &nbsp;
        </td>
    </tr>
	*|END:IF|*
	<tr>
		<td class="p">
			Many Thanks,<br>
			The RateMyApprenticeship Team
		</td>
	</tr>
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="h5" style="text-align: center;">
			Opportunities with PwC
		</td>
	</tr>
	<tr>
		<td class="img">
			<a href="http://www.pwc.com/uk/careers">
				<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/transactional-email/pwc-email-banner.gif" alt="PwC">
			</a>
		</td>
	</tr>
</table>
{% endblock %}
