---
title: Review Submitted
published: true
layout: transactional-text-layout
preheader: Hi *|FIRSTNAME|*, thanks for your review.
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Thanks for your review
		</td>
	</tr>
	<tr>
		<td class="p">			
			Hi *|FIRSTNAME|*,
		</td>
	</tr>
	<tr>
		<td class="p">
			We’ve received your review on <a href="http://www.ratemyapprenticeship.co.uk">RateMyApprenticeship.co.uk</a>. Thanks for taking the time to rate your experience! This is now being processed and we will be in touch once it has been approved.
		</td>
	</tr>
	<tr>
		<td class="p">
			Many Thanks,<br>
			The RateMyApprenticeship Team
		</td>
	</tr>
</table>
{% endblock %}
