---
title: Review Amazon Voucher
published: true
layout: transactional-text-layout
preheader: Hi *|FIRSTNAME|*, here's your amazon voucher code.
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">			
			Your Amazon Voucher
		</td>
	</tr>
	<tr>
		<td class="p">			
			Congratulations *|FIRSTNAME|*,
		</td>
	</tr>
	<tr>
		<td class="p">
			Your Amazon voucher code is:
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>*|VOUCHER_CODE|*</strong>
		</td>
	</tr>
	<tr>
    	<td class="h5">
    		And another thing...
    	</td>
    </tr>
    <tr>
    	<td class="p">
    		Our friends at StudentUniverse want to offer you these flight discount codes* 
    	</td>
    </tr>
	<tr>
		<td class="ul">
			<table border="0" cellspacing="0" cellpadding="0" >
				<tr>
					<td width="15">
						&bull;
					</td>
					<td class="li">
						£15 off flights valued between £100 and £199.99 with Promo Code: <strong>RMP15</strong>
					</td>
				</tr>
				<tr>
					<td width="15">
						&bull;
					</td>
					<td class="li">
						 £25 off flights valued between £200 and £599.99 with Promo Code: <strong>RMP25</strong>
					</td>
				</tr>
				<tr>
					<td width="15">
						&bull;
					</td>
					<td class="li">
						£35 off flights valued over £600 with Promo Code: <strong>RMP35</strong>
					</td>
				</tr>
			</table>
		</td>
	</tr>
    <tr>
    	<td class="p">
    		Visit to <a href="http://www.studentuniverse.co.uk/flights?partner=ratemyplacement&utm_source=ratemyplacement&utm_medium=advertising">StudentUniverse</a> to redeem the codes.
    	</td>
    </tr>
	<tr>
    	<td class="p small">
    		<a href="http://www.ratemyplacement.co.uk/blog/student-universe-flight-discount-terms-conditions/">* Terms and Conditions apply</a>
    	</td>
    </tr>
	<tr>
		<td class="p">
			Many Thanks,<br>
			The RateMyPlacement Team
		</td>
	</tr>
</table>
{% endblock %}
