---
title: Welcome Student
published: true
layout: transactional-text-layout
preheader: Hi *|FIRSTNAME|*, thanks for signing up with RateMyApprenticeship.
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Welcome *|FIRSTNAME|*
		</td>
	</tr>
	<tr>
		<td class="p">			
			Thanks for signing up with <a href="http://www.ratemyapprenticeship.co.uk">RateMyApprenticeship.co.uk</a>!
		</td>
	</tr>
	<tr>
		<td class="h3">
			Your Account Login Details
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Email Address:</strong> *|EMAIL|*
		</td>
	</tr>
	<tr>
		<td class="p">
			<strong>Password:</strong> You chose a password during sign up (if you have forgotten it, you can <a href="http://www.ratemyapprenticeship.co.uk/forgotten-password">change it here</a>)
		</td>
	</tr>
	<tr>
		<td class="p">
			See you shortly!
		</td>
	</tr>
	<tr>
		<td class="p">
			The RateMyApprenticeship Team
		</td>
	</tr>
	<tr>
		<td class="img">
			<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/transactional-email/pwc-email-banner.gif" alt="PwC">
		</td>
	</tr>
</table>
{% endblock %}
