---
title: Welcome Student Event
published: true
layout: transactional-text-layout
preheader: Hi *|FIRSTNAME|*, thanks for signing up with RateMyApprenticeship.
---

{% block content %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Welcome to RateMyApprenticeship
		</td>
	</tr>
	<tr>
		<td class="p">			
			Hi *|FIRSTNAME|*,
		</td>
	</tr>
	<tr>
		<td class="p">
			It was great to see you today, thanks for signing up with RateMyApprenticeship. 
		</td>
	</tr>
	<tr>
		<td class="p">
			We've created an account which you can use to manage your reviews  and notifications, but you need to set your account password first.
		</td>
	</tr>
	<tr>
		<td class="p">
			Please click the button below to set your RateMyApprenticeship password:
		</td>
	</tr>
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="cta cta-green cta-centered" style="padding-top: 10px;">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="*|SET_PASSWORD_LINK|*">Set Your Password &rarr;</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="p">
			See you shortly!
		</td>
	</tr>
	<tr>
		<td class="p">
			The RateMyApprenticeship Team
		</td>
	</tr>
	<tr>
		<td class="img">
			<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/transactional-email/pwc-email-banner.gif" alt="PwC">
		</td>
	</tr>
</table>
{% endblock %}
