<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>RateMyPlacement.co.uk</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<!-- Styles -->
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/mediaq.css" data-premailer="ignore">
		<link rel="stylesheet" type="text/css" href="/assets/css/column-layout.css" data-premailer="ignore">
		<link rel="stylesheet" type="text/css" href="/assets/css/trio-layout.css" data-premailer="ignore">
		<link rel="stylesheet" type="text/css" href="/assets/css/latest-vacancies.css" data-premailer="ignore">
		<link rel="stylesheet" type="text/css" href="/assets/css/company-layout.css" data-premailer="ignore">
		<!-- Styles /-->
	</head>
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
		<center>
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="backgroundTable">
				<tr>
					<td align="center" valign="top" class="preheader">
						<table class="preheader"  border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td class="pre-message">
								   {% block preheader %}{% endblock %} <a href="http://{~customDomain~}/interface/external_view_email.php?{~mailId~}">View in browser</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top" class="full-header">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									{% include 'header' %}
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="block-divider">&nbsp;</td>
				</tr>
				<tr>
                    <td class="block-divider">&nbsp;</td>
                </tr>
				<tr>
					<td align="center" valign="top" class="outer-wrap">
						<table border="0" cellpadding="0" cellspacing="0" class="wrap">								
							<tr>
								<td class="block-border"> 
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="prose-wrap">
												{% block prose %}{% endblock %} 
											</td>
										</tr>
									</table>                              
								</td>
							</tr>
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="prose-wrap">
												{% block icons %}{% endblock %} 
											</td>
										</tr>
									</table>  
								</td>
							</tr>
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="prose-wrap">
												{% block extratype %}{% endblock %} 
											</td>
										</tr>
									</table>  
								</td>
							</tr>
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="prose-wrap">
												{% block proseimages %}{% endblock %} 
											</td>
										</tr>
									</table>  
								</td>
							</tr>
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border"> 
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="alert">
												{% block alert %}{% endblock %} 
											</td>
										</tr>
									</table>                              
								</td>
							</tr>	
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border"> 
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="alert yellow">
												{% block alertyellow %}{% endblock %} 
											</td>
										</tr>
									</table>                              
								</td>
							</tr>							
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border"> 
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="alert green">
												{% block alertgreen %}{% endblock %} 
											</td>
										</tr>
									</table>                              
								</td>
							</tr>							
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border"> 
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="alert red">
												{% block alertred %}{% endblock %} 
											</td>
										</tr>
									</table>                              
								</td>
							</tr>							
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border">
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="company-wrap prose">
												<table class="company" border="0" cellpadding="0" cellspacing="0">
													<tr>
														{% block companymeta %}{% endblock %} 
													</tr>
												</table> 
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border">
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="company-wrap prose">
												<table class="company" border="0" cellpadding="0" cellspacing="0">
													<tr>
														{% block companycopy %}{% endblock %} 
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>								
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="prose-wrap">
												{% block jobstable %}{% endblock %} 
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="hero-wrap">
												{% block hero %}{% endblock %} 
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="block-border"> 
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="prose-wrap">
												{% block heroprose %}{% endblock %} 
											</td>
										</tr>
									</table>                              
								</td>
							</tr>
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="hero-wrap">
												{% block herocaption %}{% endblock %} 
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="block-border"> 
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="prose-wrap">
												{% block herocaptionprose %}{% endblock %}
											</td>
										</tr>
									</table>                              
								</td>
							</tr>
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td class="block-border">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="hero-wrap">
												{% block herooverlay %}{% endblock %} 
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="block-border"> 
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="prose-wrap">
												{% block heroproseoverlay %}{% endblock %} 
											</td>
										</tr>
									</table>                              
								</td>
							</tr>
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="footer-message">
												{% block updatesubs %}{% endblock %} 
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="footer-message">
												{% block jobrelevant %}{% endblock %} 
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr> 
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="footer-message">
												{% block alljobs %}{% endblock %} 
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr> 
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="footer-message placement-chat">
												{% block placementchat %}{% endblock %} 
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr> 
								<td class="block-divider">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
										<tr>
											<td class="footer-message student-universe">
												{% block studentuniverse %}{% endblock %} 
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="block-divider">&nbsp;</td>
				</tr>
				<tr>
					<td align="center" valign="top" class="outer-wrap">
						<table border="0" cellpadding="0" cellspacing="0" class="wrap latest-vacancies {% if mixture.url == 'core/latest-vacancies-alt' %} latest-vacancies-alt {% endif %}">
							<tr>
								<td class="wrap-inner block-border">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="intro">                                   
												{% block lvintro %}{% endblock %}                                                                    
											</td>
										</tr>										
										<tr>
											<td class="premium">
												{% block lvpremium %}{% endblock %} 
											</td>
										</tr>										
										<tr>
											<td class="standard">
												{% block lvstandard %}{% endblock %}                                    
											</td>
										</tr>
									</table>
								</td>
							</tr>                            
						</table>
					</td>
				</tr>				
				{% include 'footer' %}
				{% include 'core-footer' %}
				{% include 'share-footer' %}
				{% include 'transactional-core-footer' %}
			</table>
		</center>
	</body>
</html>