<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <title>{{ model.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="format-detection" content="telephone=no">
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/mediaq.css" data-premailer="ignore">
        <!-- Styles /-->
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="backgroundTable transactional">
                <tr>
                    <td align="center" valign="top">
                        <table class="preheader "  border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="pre-message">
                                    {{ model.preheader }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="full-header">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    {% include 'header' %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="block-divider">&nbsp;</td>
                </tr>
                <tr>
                    <td class="block-divider">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="outer-wrap">
                        <table border="0" cellpadding="0" cellspacing="0" class="wrap block-border"> 
                            <tr>
                                <td> 
                                    <table class="wrap" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="prose-wrap">
                                                {% block content %}{% endblock %} 
                                            </td>
                                        </tr>
                                    </table>                              
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% include 'transactional-core-footer' %}             
            </table>
        </center>
    </body>
</html>