.alert {
	color: #FFFFFF;
	font-size: 13px;
	padding: 8px;
	background: @MediumBlue;
	font-family: @fontBody;	
	border-radius: 3px;
	
	a {color: #FFFFFF;}

	&.yellow {
		background: @Yellow;
		color: #000001;
		a {color: #000001;}
	}
	&.green {
		background: @Green;
	}
	&.light-blue {
		background: @MediumBlue;
	}
	&.red {
		background: @Red;
	}
}  