@import 'variables.less';

// Bullet Proof Buttons - https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design

.cta {

	text-align: center;
	padding-top: 20px;	

	table {
		margin: 0;
	}

	td {

		a {
			color: #FFFFFF;
			font-family: @fontBody;
			text-decoration: none;
			display: inline-block;
			background: @Orange;
			font-size: 14px; 
			text-align: center;
			border-top: 7px solid; 
			border-bottom: 7px solid; 
			border-right: 13px solid; 
			border-left: 13px solid;
			border-color: @Orange;
			border-radius: 4px;
		}	
	}
	&.cta-big {
		td {
			a {
				border-top: 24px solid; 
				border-bottom: 24px solid; 
				border-right: 48px solid; 
				border-left: 48px solid;
				border-color: @Orange;
			}
		}
	}
	// Small
	&.cta-small {
		td {
			a {
				border-top: 6px solid; 
				border-bottom: 6px solid; 
				border-right: 9px solid; 
				border-left: 9px solid;
				border-color: @Orange;
			}
		}
	}
	// Button colours
	&.cta-green {
		td {
			a {
				background: @Green;
				border-color: @Green;			
			}
		}
	}
	&.cta-bordered {
		a {
			border: 2px solid #FFF;
			background: transparent;
			padding: 5px 11px;
		}
	}

	// Button variations
	&.cta-full {
		// buttons are only full width in media queries less than 540px
	}
	&.cta-centered {
		table {
			margin-right: auto;
			margin-left: auto;
		}
	}
}


