@import 'variables.less';
@import 'mixins.less';

.backgroundTable,
body {
	background: #FAFAFA;	
}
.backgroundTable {
	min-width: 540px;
}
.wrap {
	width: @wrapWidth;
}
.preheader {
	background: #FAFAFA;
	width: 100%;
	
	.pre-message {
		padding: 5px 0 5px 5px;
		font-size: 10px;
		line-height: 10px;
		color: @bodyCopy;
		font-family: @fontBody;
		text-align: center;		

		a {			
			color: @linkColor;
			font-family: @fontBody;
			text-decoration: none;
		}
	}

}

.full-header {
	background: #FFF; 
	box-shadow: 0 1px 3px rgba(50, 57, 61, 0.3);
	border-top: 1px solid #eee;
}
.header-wrap {
	padding: 15px 0;
}
.header {
	width: 100%;
	img {
		color: #FFFFFF;
	}	

	.logo {
		width: 70%;
		
	}
	.right {
		&.cta {
			padding-top: 0;
		}
	}
}

.outer-footer {
	background: #FAFAFA;
}


.footer {

	.p {
		line-height: 16px;
		padding: 15px 0;
		text-align: center;
		font-family: @fontBody;
		font-size: 11px; 
		color: @bodyCopy;
		a {
			color: @bodyCopy;
			border-bottom: 1px dotted @bodyCopy;
			text-decoration: none;
		}
	}

	&.prose {
		.h5 {
			color: @bodyHeader;
			font-size: 15px;
			text-align: center;
		}
		.p {
			font-size: 12px;
			line-height: 17px;
			text-align: center;
		}
	}

	&.marketing-footer {
		.p {
			color: @bodyCopy;
		}
		a {
			color: @bodyCopy;
			border-bottom: 1px dotted @bodyCopy;
		}
	}
}
.after-footer {
	background: #FFFFFF;
	text-align: center;
	line-height: 14px;
	font-family: @fontBody;
	font-size: 10px;	
	padding: 5px;
	color: lighten(@bodyCopy, 5%);
	a {
		color: @linkColor;
		font-weight: bold;
		text-decoration: none;
	}			
	a.reset {
		color: lighten(@bodyCopy, 5%);
		font-weight: normal;
	}
}

.block-divider {
	line-height: 20px;
	height: 20px;
	font-size: 20px;
}


.block-border  {
	//border: 1px solid #E7E7E7;
	//box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	border: 1px solid #E2E2E2;
	box-shadow: 0 1px 3px rgba(50, 57, 61, 0.3);
}