// Type 
@fontBody: Arial, sans-serif;
@bodyCopy: #4B4D50;
@bodyCopyWeight: normal;

@fontHeader: Arial, sans-serif;
@bodyHeader: #32393D;
@bodyHeaderWeight: 700;

@baseFontSize: 14px;
@baseLineHeight: 23px;

@linkColor: #E78042;


// Colours
@bgBlue: #213561;
@LightGrey: #EFEDE9;
@LightestGrey: #F9F7F7;
@HeroBg: #355a9b;

@LightBlue: #d3e3f0;
@MediumBlue: #005CB3;
@DarkBlue: #004B92; 
@Green: #00C5B1;
@Yellow: #FFCC00;
@PaleYellow: #FFEA9D;
@Red: #cf4c49;

@Orange: #E78042;


@HeroDarkBlue: #132e59;
@HeroLightBlue: #2f62a4;


// Layout
@wrapWidth: 540px;
@mqWidth: 560px;
@imp: !important;












