{% layout "blog-layout" %}
{% block preheader %}
Hi {~firstname~}, we have matched this role to your profile.
{% endblock %}

{% block bloglead %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="featured-img">
			<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/emails2014/spotlight/accountancy/accoutanncy-email.jpg" height="150" width="150">
		</td>
	</tr>
	<tr>
		<td class="h3">
			Attention students hunting placements and internships
		</td>
	</tr>
	<tr>
		<td class="icons p">
			<img class="icon" src="http://rmp.gd/i/duration.png" height="16" width="16">
			September 3rd, 2014 
		</td>
	</tr>
	<tr>
		<td class="share-icons">
			<a href="https://twitter.com/share?text=title&url=link">
				<img src="http://media.ratemyapprenticeship.co.uk.s3.amazonaws.com/email-content/templates-v2/twitter.png" alt="Share on Twitter" height="36" width="36">
			</a>						
			&nbsp;&nbsp;
			<a href="https://www.facebook.com/sharer/sharer.php?u=link&t=title">
				<img src="http://media.ratemyapprenticeship.co.uk.s3.amazonaws.com/email-content/templates-v2/facebook.png" alt="Share on Facebook" height="36" width="36">
			</a>
		</td>
	</tr>
</table>
{% endblock %}

{% block blogcopy %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="img first">
			<img src="http://www.ratemyplacement.co.uk/blog/wp-content/uploads/2014/09/home.jpg">
		</td>
	</tr>
	<tr>
		<td class="p ">
			The revamped RateMyPlacement website is here to help you find the best work experience opportunities.
		</td>
	</tr>
	<tr>
		<td class="p">
			Ask yourself one question – why are you here? Don’t worry, we’re not going all existential on you. We mean why are you here now, reading this?
		</td>
	</tr>
	<tr>
		<td class="p">                      
			It might be because you’re at university and want to discover what you’re capable of. You want to learn about your own ability and develop skills that will make you super employable in the future.
		</td>
	</tr>
	<tr>
		<td class="p">
			Or perhaps you’re just after a great time with the added bonus of coming out the other side with a university degree.
		</td>
	</tr>
	<tr>
		<td class="p">
			Whatever the reason, when it comes to eventually getting your hands on a job that you hope will transform into an enjoyable and profitable career, you’ll know that these days it’s not enough to just have a qualification listed on your CV.
		</td>
	</tr> 
</table>
{% endblock %}

{% block footer %}
<tr>
    <td class="block-divider">&nbsp;</td>
</tr>
<tr>
    <td class="block-divider">&nbsp;</td>
</tr>
<tr>
	<td align="center" valign="top" class="outer-wrap"> 
		<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
			<tr>
				<td class="share-footer">
					<table border="0" cellspacing="0" cellpadding="0" class="prose" style="width: 100%;">
						<tr>
							<td class="h5 first centered">
								Share this message
							</td>
						</tr>
						<tr>
							<td class="share-icons">
								<a href="https://twitter.com/share?text=title&url=link">
									<img src="http://media.ratemyapprenticeship.co.uk.s3.amazonaws.com/email-content/templates-v2/twitter.png" alt="Share on Twitter" height="36" width="36">
								</a>						

								<a href="https://www.facebook.com/sharer/sharer.php?u=link&t=title">
									<img src="http://media.ratemyapprenticeship.co.uk.s3.amazonaws.com/email-content/templates-v2/facebook.png" alt="Share on Facebook" height="36" width="36">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
{% endblock %}