{% layout "external" %}

{% block hero %}
<table class="hero" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="http://www.ratemyplacement.co.uk/register?utm_source=studentbeans&utm_medium=email&utm_campaign=StudentBeans">
				<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/emails2013/hero-rate-beans.jpg" alt="RateMyPlacment HOW WOULD YOU LIKE TO WIN A TRIP AROUND EUROPE FOR TWO?" class="img-fix">
			</a>
		</td>
	</tr>
	<tr>
		<td class="hero-caption"> 
			How would you like to win a trip around Europe for two?
		</td>
	</tr>
</table>
{% endblock %}

{% block prose %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">	
	<tr>
		<td class="p first">
			Hi there, 
		</td>
	</tr>
	<tr>
		<td class="p">
			<a class="reset" href="http://www.ratemyplacement.co.uk/?utm_source=studentbeans&utm_medium=email&utm_campaign=StudentBeans">RateMyPlacement.co.uk</a>, the UK’s leading website for undergraduate placements, internships, insights and vacation schemes, has teamed up with Contiki to give away an <a href="http://www.contiki.com/destinations/europe/tours/118-european-horizon">awesome holiday to Europe</a>*
		</td>
	</tr>
	<tr>
		<td class="p">
			Entering is easy; simply sign up to RateMyPlacement <a href="http://www.ratemyplacement.co.uk/register?utm_source=studentbeans&utm_medium=email&utm_campaign=StudentBeans">here</a> and you could win <strong>two tickets on the European Horizon tour, worth over £1500!</strong> 
		</td>
	</tr>
	<tr>
		<td class="cta cta-green cta-full cta-centered" style="padding-top: 20px; padding-bottom: 10px;">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td>
						<a href="http://www.ratemyplacement.co.uk/register?utm_source=studentbeans&utm_medium=email&utm_campaign=StudentBeans">SIGN UP NOW FOR YOUR CHANCE TO WIN &rarr;</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="img">
			<a href="http://www.ratemyplacement.co.uk/register?utm_source=studentbeans&utm_medium=email&utm_campaign=StudentBeans">
				<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/emails2013/contiki-promo-ban.jpg" alt="Contiki Holidays">
			</a>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="border-bottom: 1px solid #d1d1d1;">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td class="h3">
			What is RateMyPlacement?
		</td>
	</tr>
	<tr>
		<td class="p">
			<a href="http://www.ratemyplacement.co.uk/?utm_source=studentbeans&utm_medium=email&utm_campaign=StudentBeans">RateMyPlacement</a> is <strong>the</strong> website to help students search for a placement, internship, vacation scheme or insight whilst at university. Over 60% of employers recruit graduates who have worked with them previously so we’re here to help you secure that all important work experience and give your career the kick start it needs!
		</td>
	</tr>
	<tr>
		<td class="p">
			With over 20,000 student-written reviews of <strong>placements, internships, vacation schemes</strong> and insights and hundreds of opportunities closing in the next few weeks, don’t miss out on your chance to secure the job of your dreams.
		</td>
	</tr>
	<tr>
		<td class="p">
			Good luck!<br>
			The RateMyPlacement team
		</td>
	</tr>
	<tr>
		<td class="h5 centered">
			companies on RateMyPlacement
		</td>
	</tr>
	<tr>
		<td class="img">
			<a href="http://www.ratemyplacement.co.uk/?utm_source=studentbeans&utm_medium=email&utm_campaign=StudentBeans"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/emails2013/client-logos.jpg" alt="Companies on RateMyPlacement"></a>
		</td>
	</tr>
	<tr>
		<td class="small">
			*T&C’s apply - <a href="http://articles.ratemyplacement.co.uk/contiki-competition-terms-and-conditions/?utm_source=studentbeans&utm_medium=email&utm_campaign=StudentBeans">read them here</a>
		</td>
	</tr>
</table>
{% endblock %}