{% layout "frame" %}
{% block preheader %}
Hi {~firstname~}, we have matched this role to your profile.
{% endblock %}

{% block framecontent %}
<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td width="500">
<table style="background-image:url('http://crunchclients.co.uk/rpc/20131202/background.png');background-repeat:no-repeat;background-color:#4B4B4D;" id="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" >
<tr><td colspan="3"><img style="display:block;" src="http://crunchclients.co.uk/rpc/images/spacer.gif" width="1" height="22" alt="" /></td></tr>
<tr><td colspan="3"><img style="display:block;" src="http://crunchclients.co.uk/rpc/20131211/rpc_topper_500x59.png" width="500" height="59" alt="RPC - The Law Career for Pioneers" /></td></tr>
<tr><td colspan="3"><img style="display:block;" src="http://crunchclients.co.uk/rpc/images/spacer.gif" width="1" height="28" alt="" /></td></tr>
<tr>
<td width="103"><img style="display:block;" src="http://crunchclients.co.uk/rpc/images/spacer.gif" width="103" height="1" alt="" /></td>
<td width="397" colspan="2"><img style="display:block;" src="http://crunchclients.co.uk/rpc/20131211/ripitup_397x190.png" width="397" height="190" alt="1. RIP UP THE RULE BOOK" /></td></tr>
<tr><td colspan="3"><img style="display:block;" src="http://crunchclients.co.uk/rpc/images/spacer.gif" width="1" height="24" alt="" /></td></tr>

<tr>
<td width="103"><img style="display:block;" src="http://crunchclients.co.uk/rpc/images/spacer.gif" width="103" height="1" alt="" /></td>
<td style="font:12px Arial, Helvetica, sans-serif;color:#fff;line-height: normal;padding-left:0;margin-top:32px;">
If you never go against the grain, always follow the well-trodden path and consistently take the safe option, you could find yourself sleepwalking into a predictable career with a traditional firm. If that's how you see your future, we wish you every success. But please look away now.<br /><br />
If you prefer the bold to the boring, however, and find the prospect of joining a different kind of law firm enticing, we'd love to talk to you.<br /><br />
We run summer vacation schemes each year to enable prospective trainees to spend time with us, getting a feel for what we do and what it's like to work here.<br /><br />
We want to break the mould, rewrite the rules and redefine the legal profession. Your mission could be to build the law firm of the future, today. And to define your career at the same time.<br /><br />
If this sounds like the type of role for you, we want to hear from you.<br /><br />
Closing date for Vacation scheme is 31 January 2014.<br /><br />
Apply now by visiting <a href="http://adserver.adtech.de/?adlink|3.0|859|2161492|1|16|AdId=9445584;BnId=5;link=http://www.rpc.co.uk/manifesto" style="font-weight:bold;text-decoration:none;color:#EC008B;">www.rpc.co.uk/manifesto</a>.<br /><br />

Follow us on twitter <a href="http://twitter.com/LifeinaLawFirm" style="font-weight:bold;text-decoration:none;color:#EC008B;">@LifeinaLawFirm.  <img style="display:inline-block;" src="http://crunchclients.co.uk/EY/20120111/rpc/images/twitterlogo.gif" width="21" height="21" alt="twitter logo" border="none" /></a>
</td>
<td width="30"><img style="display:block;" src="http://crunchclients.co.uk/rpc/images/spacer.gif" width="30" height="1" alt="" /></td>
</tr>
<tr><td colspan="3"><img style="display:block;" src="http://crunchclients.co.uk/rpc/images/spacer.gif" width="1" height="24" alt="" /></td></tr>
</table>
</td>
</tr>
</table> 
{% endblock %}

