{% layout "newsletter-layout" %}

{% block preheader %}
Hi {~firstname~}, welcome to the RateMyPlacement student newsletter!!
{% endblock %}

{% block hero %}
<table class="hero" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="#">
				<img src="http://placehold.it/540x180/eeeeee" alt=" " class="img-fix">
			</a>
		</td>
	</tr>
</table>
{% endblock %}

{% block copy %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			RateMyApprenticeship - March Newsletter
		</td>
	</tr>
	<tr>
		<td class="p">
			National Apprenticeship Week 2015 is upon us, and March is shaping up to be one of the busiest months in the RateMyApprenticeship calendar!
		</td>
	</tr>
	<tr>
		<td class="h4">
			National Apprenticeship Week 2015
		</td>
	</tr>
	<tr>
		<td class="p">
			We might as well start with NAW which will be running all this week across the country, from the 9th - 13th. What can you expect from the event? It’s all about celebrating the positive impact that apprentices provide to individuals and encouraging more and more businesses to create these fantastic opportunities.
		</td>
	</tr>
	<tr>
		<td class="p">
			Coordinated by the National Apprenticeship Service, there will be lots of exciting events to attend and listen out for and the RateMyApprenticeship team will be getting fully immersed in the fun by attending plenty of fairs across the UK. Make sure you <a>follow us on twitter</a> and <a>#NAW2015</a> for all the updates and look out for our orange shirts and fluorescent table cloths!
		</td>
	</tr>
	<tr>
		<td class="img">
			<img src="http://media.ratemyapprenticeship.co.uk.s3.amazonaws.com/email-content/newsletter/website.jpg">
		</td>
	</tr>
	<tr>
		<td class="h4">
			RateMyApprenticeship Reborn
		</td>
	</tr>
	<tr>
		<td class="p">
			There’s been whispers. There’s been rumours. But finally, this week the brand new RateMyApprenticeship website has been launched!
		</td>
	</tr>
	<tr>
		<td class="p">
			With a shiny new interface and additional features such as a student hub, the site still offers an abundance of impartial advice and guidance about career options, as well as over 1700 reviews written by previous school leavers. Head on over to see what you think and sign up today!
		</td>
	</tr>
	<tr>
		<td class="img">
			<img src="http://www.nsechallenge.co.uk/assets/img/logo.png">
		</td>
	</tr>
	<tr>
		<td class="h4">
			Last Call for NSE Challenge!
		</td>
	</tr>
	<tr>
		<td class="p">
			In case you’re one of the few people who have managed to avoid hearing about the National Schools Employability Challenge, it is a competition we have put together in collaboration with PwC wherein the winner will receive an iPad mini and a week's work experience with PwC!

		</td>
	</tr>
	<tr>
		<td class="p">
			The competition is split into 3 rounds, including the first stage testing how employable you are, the second asking further questions on this and the last round, which is our final at PwC’s London Bridge office on the 10th April.

		</td>
	</tr>
	<tr>
		<td class="p">
			With the final 10 champions being selected on the 17th, you still have time to enter! Register here and get involved to increase your chances of winning this fantastic, CV enhancing prize!
		</td>
	</tr>
</table>
{% endblock %}

{% block review %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="comp-logo">
			<img src="http://www.ratemyapprenticeship.co.uk/uploads/company_logo/ey.png" style="width: 200px;">
		</td>
	</tr>
	<tr>
		<td class="p">
			<br><strong>EY Opportunities</strong>
		</td>
	</tr>
	<tr>
		<td class="p">
			As one of the world’s leading professional services firms, EY offers a fantastic range of customised schemes, including the EY degree, EY scholarship and EY skills academy. 


		</td>
	</tr>
	<tr>
		<td class="p">
			By taking one of EY’s many school leaver programmes, you could start earning as soon as you leave school and get to your dream job a whole year earlier than those who go to University. So what are you waiting for? 
		</td>
	</tr>
	<tr>
		<td class="p" style="padding-bottom: 20px;"> 
			<a href="http://www.ratemyapprenticeship.co.uk/company-profile/9/ey">Apply Today &rarr;</a>
			<br>
		</td>
	</tr>
</table>
{% endblock %}

{% block paid %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="media-object">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<img src="http://media.ratemyplacement.co.uk/website/company-profile/69/69_75x75_1409734868.png?response-expires=Sun%2C%2020%20Mar%202016%2010%3A37%3A36%20GMT">
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									EY Opportunities
								</td>
							</tr>
							<tr>
								<td class="p">
									As one of the world’s leading professional services firms, EY offers a fantastic range of customised schemes, including the EY degree, EY scholarship and EY skills academy.
								</td>
							</tr>
							<tr>
								<td class="p">
									By taking one of EY’s many school leaver programmes, you could start earning as soon as you leave school and get to your dream job a whole year earlier than those who go to University. So what are you waiting for?
								</td>
							</tr>
							<tr>
								<td class="p">
									<a href="#">Apply Today &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="media-object ">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<img src="http://www.ratemyapprenticeship.co.uk/uploads/company_logo/1425661393.png">
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									Ever thought about working for a multinational company like Jaguar Land Rover?
								</td>
							</tr>
							<tr>
								<td class="p">
									Have a read through genuine reviews written by previous school leavers who undertook apprenticeships at JLR. <a>Click here</a> to learn from their experiences and about the different directions JLR could take you in. 
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
		<tr>
		<td class="media-object last">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<img src="http://www.ratemyapprenticeship.co.uk/uploads/company_logo/1425661953.png">
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									Various Aviva Chat
								</td>
							</tr>
							<tr>
								<td class="p">
									Simon Corke, HR Business Consultant at Aviva, discusses the opportunities and structure of the Apprenticeship programmes that the company offers. 
									<br><a href="#">Watch the full video here &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}