{% layout "style-guide" %}

{% model "lv-example.json" %}

{% block preheader %}
Hi {~firstname~}, This is the preheader text that will show in the inbox below the subject line.
{% endblock %}

{% block prose %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h1 first">
			This a H1 tag
		</td>
	</tr>
	<tr>
		<td class="h2">
			This a H2 tag
		</td>
	</tr>
	<tr>
		<td class="h3">
			This a H3 tag
		</td>
	</tr>
	<tr>
		<td class="h4">                      
			This a H4 tag
		</td>
	</tr>
	<tr>
		<td class="h5">
			This a H5 tag
		</td>
	</tr>
	<tr>
		<td class="p">
			This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit,  ullamco ut labore et dolore magna aliqua. Ut enim ad minimexercitation ullamco laboris nisi ut aliqu.
		</td>
	</tr>
	<tr>
		<td class="p">
			Here's some <strong>strong text</strong> in a paragraph.
		</td>
	</tr>
	<tr>
		<td class="p">
			Here's some <em>emphasised text</em> in a paragraph.
		</td>
	</tr>	
	<tr>
		<td class="ul">
			<table border="0" cellspacing="0" cellpadding="0" >
				<tr>
					<td width="15">
						&bull;
					</td>
					<td class="li">
						An unordered list item
					</td>
				</tr>
				<tr>
					<td width="15">
						&bull;
					</td>
					<td class="li">
						An unordered list item
					</td>
				</tr>
				<tr>
					<td width="15">
						&bull;
					</td>
					<td class="li">
						A multi line list item. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						proident, sunt.
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="ol">
			<table border="0" cellspacing="0" cellpadding="0" >
				<tr>
					<td width="15">
						1.
					</td>
					<td class="li">
						An ordered list item
					</td>
				</tr>
				<tr>
					<td width="15">
						2.
					</td>
					<td class="li">
						An ordered list item
					</td>
				</tr>
				<tr>
					<td width="15">
						3.
					</td>
					<td class="li">
						A multi line list item. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						proident, sunt.
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="dt">
			This a  definition lists, definition term
		</td>
	</tr> 
	<tr>
		<td class="dd">
			This is the defintion of that term
		</td>
	</tr> 
	<tr>
		<td class="p">
			<a href="http://www.ratemyplacement.co.uk">This is a link</a>
		</td>
	</tr>
	<tr>
		<td class="p">
			<a class="reset" href="http://www.ratemyplacement.co.uk">This is a reset link</a>
		</td>
	</tr>
	<tr>
		<td class="small">
			This is small text, great for terms &amp; conditions.
		</td>
	</tr>	
	<tr>
		<td class="cta">
			<table border="0" cellspacing="0" cellpadding="0"  align="left">
				<tr>
					<td >
						<a href="#">This is a Default Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cta cta-yellow">
			<table border="0" cellspacing="0" cellpadding="0"  align="left">
				<tr>
					<td >
						<a href="#">This is a Yellow Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cta cta-green">
			<table border="0" cellspacing="0" cellpadding="0"  align="left">
				<tr>
					<td >
						<a href="#">This is a Green Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cta cta-green cta-full">
			<table border="0" cellspacing="0" cellpadding="0"  align="left">
				<tr>
					<td >
						<a href="#">This is a Full Width Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cta cta-blue cta-big">
			<table border="0" cellspacing="0" cellpadding="0"  align="left">
				<tr>
					<td >
						<a href="#">This is a Large Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cta cta-green cta-centered">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="#">This is a Centered Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

{% block icons %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h2 first">
			Icons
		</td>
	</tr>
	<tr>
		<td class="p">
			<img class="icon" src="http://rmp.gd/i/job.png" height="16" width="16">
			Job Title
		</td>
	</tr>
	<tr>
		<td class="p">
			<img class="icon" src="http://rmp.gd/i/salary.png" height="16" width="16">
			Salary Info
		</td>
	</tr>
	<tr>
		<td class="p">
			<img class="icon" src="http://rmp.gd/i/uni.png" height="16" width="16">
			University
		</td>
	</tr>
	<tr>
		<td class="p">
			<img class="icon" src="http://rmp.gd/i/duration.png" height="16" width="16">
			Duration
		</td>
	</tr>
	<tr>
		<td class="p">
			<img class="icon" src="http://rmp.gd/i/course.png" height="16" width="16">
			Course
		</td>
	</tr>
	<tr>
		<td class="p">
			<img class="icon" src="http://rmp.gd/i/location.png" height="16" width="16">
			Location
		</td>
	</tr>
	<tr>
		<td class="p">
			<img class="icon" src="http://rmp.gd/i/deadline.png" height="16" width="16">
			Deadline
		</td>	
	</tr>
	<tr>
		<td class="h3">
			<img class="icon" src="http://rmp.gd/i/uni.png" height="16" width="16">
			Icon in header
		</td>
	</tr>
	<tr>
		<td class="p">
			<img class="icon large" src="http://rmp.gd/i/course.png" height="16" width="16">
			Large Icon
		</td>
	</tr>
</table>
{% endblock %}


{% block extratype %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h2 first">
			New Experimental Components
		</td>
	</tr>
	<tr>
		<td class="p">
			These new components need some work before they are ready for production.
		</td>
	</tr>
	<tr>
		<td class="h5">
			HR example
		</td>
	</tr>
	<tr>
		<td class="p">
			This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</td>
	</tr>	
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>	
	<tr>
		<td class="p">
			This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Ut enim ad minim veniam, huis nostrud exercitation ullamco laboris nisi ut aliqu.
		</td>
	</tr>
	<tr>
		<td class="h5">
			Table Example
		</td>
	</tr>
	<tr>
		<td class="table" border="0" cellpadding="0" cellspacing="0">
			<table>
				<tr>
					<th>Sector</th>
					<th>Job Count</th>
					<th>Apply Link</th>
				</tr>
				<tr>
					<td>Summer Analyst Programme</td>
					<td>30</td>
					<td>Apply Now</td>
				</tr>
				<tr>
					<td>Summer Analyst Programme</td>
					<td>30</td>
					<td>Apply Now</td>
				</tr>
				<tr>
					<td>Summer Analyst Programme</td>
					<td>30</td>
					<td>Apply Now</td>
				</tr>
				<tr>
					<td>Summer Analyst Programme</td>
					<td>30</td>
					<td>Apply Now</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="h5">
			Pull quote example
		</td>
	</tr>
	<tr>
		<td class="pullquote">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="quote">
						"I was working on very large client accounts as well as liaising with senior management in operations and asset management. Although i wasn’t given full responsibility of the projects that I was working on, I was given a significant amount of work to do which was key to the success of the project."
					</td>
				</tr>
				<tr>	
					<td class="cite">
						by John Doe
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="media-object">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<img src="http://placehold.it/60x60/eeeeee">
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									A single media object
								</td>
							</tr>
							<tr>
								<td class="p">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur ut labore et dolore mag.
									<br><a href="#">Read more &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="media-object ">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<img src="http://placehold.it/60x60/d1d1d1">
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									A second media object
								</td>
							</tr>
							<tr>
								<td class="p">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur ut labore et dolore mag.
									<br><a href="#">Read more &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
		<tr>
		<td class="media-object last">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<img src="http://placehold.it/60x60/eeeeee">
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									A second media object
								</td>
							</tr>
							<tr>
								<td class="p">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur ut labore et dolore mag.
									<br><a href="#">Read more &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

{% block proseimages %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Images within copy and captions
		</td>
	</tr>
	<tr>
		<td class="p">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt consectetur ut labore et dolore mag. Lorem ipsum dolor sit amet,
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad min.
		</td>
	</tr>
	<tr>
		<td class="h5">
			A basic image that is full width
		</td>
	</tr>
	<tr>
		<td class="p">
			Where possible all images included in the main body copy should be full width, all the possible variations are shown below.
		</td>
	</tr>
	<tr>
		<td class="img">
			<img src="http://placehold.it/480x150/eeeeee">
		</td>
	</tr>
	<tr>
		<td class="h5">
			An image that is full width with a caption
		</td>
	</tr>
	<tr>
		<td class="p">
			Image captions are very important, the caption text is some of the most read text on any page. The image draws the eye and the text in turn is read a lot more than a standalone paragraph. Captions can also include links.
		</td>
	</tr>
	<tr>
		<td class="img">
			<img src="http://placehold.it/480x150/eeeeee">
		</td>
	</tr>
	<tr>
		<td class="img-caption">
			This is the image caption
		</td>
	</tr>
	<tr>
		<td class="h5">
			An image that isn't full width
		</td>
	</tr>
	<tr>
		<td class="p">
			Because it isn't full width it should be centered, if you float images to the left or right on mobile your going to have a bad time.
		</td>
	</tr>
	<tr>
		<td class="img centered">
			<img src="http://placehold.it/160x150/eeeeee">
		</td>
	</tr>
	<tr>
		<td class="h5">
			An image that isn't full width but has a caption
		</td>
	</tr>
	<tr>
		<td class="p">
			The image isn't full width and has a caption so a light frame is applied to help group the image and caption together.
		</td>
	</tr>
	<tr>
		<td class="img framed">
			<img src="http://placehold.it/160x150/000000">
		</td>
	</tr>
	<tr>
		<td class="img-caption framed">
			This is the image caption
		</td>
	</tr>
</table>
{% endblock %}


{% block alert %} 
<strong>Message:</strong>  Generic message goes here. <a href="#">Link in alert</a>
{% endblock %}

{% block alertyellow %} 
<strong>Job Alert:</strong> We matched this role to your preferences. <a href="#">Link in alert</a>
{% endblock %}

{% block alertgreen %} 
<strong>Success:</strong> Generic success message goes here. <a href="#">Link in alert</a>
{% endblock %}

{% block alertred %} 
<strong>Alert:</strong> Generic alert message goes here. <a href="#">Link in alert</a>
{% endblock %}


{% block companymeta %}
<td >
	<table border="0" cellpadding="0" cellspacing="0" class="left" align="left">
		<tr>
			<td>
				<a href="#">
					<img class="img-fix" src="http://media.ratemyplacement.co.uk/website/company-profile/69/ey-large.png" width="98" height="98" >
				</a>
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="right" align="right">
		<tr>
			<td class="h5 first">Fraud Investigations & Dispute Services Placement at EY</td>
		</tr>
		<tr>
			<td class="p">
				Dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</td>
		</tr>
		<tr>
			<td class="p">
				<strong>Application Deadline:</strong> 31st August 2014
			</td>
		</tr>
		<tr>
			<td class="cta cta-green cta-full">
				<table border="0" cellspacing="0" cellpadding="0"  align="center">
					<tr>
						<td >
							<a href="#">Apply for this job</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>                          
	</table>
</td>
{% endblock %}

{% block companycopy %} 
<td >
	<table border="0" cellpadding="0" cellspacing="0" class="left" align="left">
		<tr>
			<td>
				<a href="#">
					<img class="img-fix" src="http://media.ratemyplacement.co.uk/website/company-profile/69/ey-large.png" width="98" height="98" >
				</a>
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="right" align="right">
		<tr>
			<td class="h5 first">Fraud Investigations & Dispute Services Placement at EY</td>
		</tr>
		<tr>
			<td>
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="dt">Deadline</td>
						<td class="dd">Now Open</td>
					</tr>
					<tr>
						<td class="dt">Duration</td>
						<td class="dd">Placement Year 10+ Months</td>
					</tr>
					<tr>
						<td class="dt">Locations</td>
						<td class="dd">Nationwide</td>
					</tr>
					<tr>
						<td class="dt">Role May Involve</td>
						<td class="dd">Accountancy, Auditing/Tax</td>
					</tr>

				</table>
			</td>
		</tr>
		<tr>
			<td class="cta cta-green cta-full">
				<table border="0" cellspacing="0" cellpadding="0"  align="center">
					<tr>
						<td >
							<a href="#">Apply for this job</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>                          
	</table>
</td> 
{% endblock %}


{% block jobstable %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">Jobs Table Example</td>
	</tr>
	<tr>
		<td class="p">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercita.	 
		</td>
	</tr>
	<tr>
		<td class="h3">
			Roles Available
		</td>
	</tr>
	<tr>
		<td class="jobs-table">
			<table class="prose" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="icon">
						<img src="http://media.ratemyplacement.co.uk/email-build-002/i/job.png" width="18" height="18">
					</td>
					<td class="title"><a href="#">Summer Analyst Programme</a></td>
					<td class="arrow"><a href="#">&#8594;</a></td>
				</tr>
				<tr>
					<td class="icon">
						<img src="http://media.ratemyplacement.co.uk/email-build-002/i/job.png" width="18" height="18">
					</td>
					<td class="title"><a href="#">Digital Marketing Internship</a></td>
					<td class="arrow"><a href="#">&#8594;</a></td>
				</tr>
				<tr>
					<td class="icon">
						<img src="http://media.ratemyplacement.co.uk/email-build-002/i/job.png" width="18" height="18">
					</td>
					<td class="title"><a href="#">Social Media Internship</a></td>
					<td class="arrow"><a href="#">&#8594;</a></td>
				</tr>
				<tr>
					<td class="cta cta-blue cta-centered cta-small view-all" colspan="3">
						<table border="0" cellspacing="0" cellpadding="0"  align="center">
							<tr>
								<td>
									<a href="#">View all roles</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="p">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation.
		</td>
	</tr>
</table>
{% endblock %}


{% block hero %}
<table class="hero" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="#">
				<img src="http://placehold.it/540x180/eeeeee" alt="your place is here" class="img-fix">
			</a>
		</td>
	</tr>
</table>
{% endblock %}

{% block heroprose %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			This is a hero layout where the hero image is flush with the prose
		</td>
	</tr>
	<tr>
		<td class="p ">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</td>
	</tr>
</table>
{% endblock %}

{% block herocaption %}
<table class="hero" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="#">
				<img src="http://placehold.it/540x180/eeeeee" alt="your place is here" class="img-fix">
			</a>
		</td>
	</tr>
	<tr>
		<td class="hero-caption"> 
			This is the caption heading for the image
		</td>
	</tr>
</table>
{% endblock %}

{% block herocaptionprose %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="p first">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</td>
	</tr>
</table>
{% endblock %}

{% block herooverlay %}
<table class="hero overlay" border="0" cellpadding="0" cellspacing="0" background="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-build-002/overlar-gb-2.jpg" bgcolor="#005CB3">
	<tr>
		<td class="inner">
			<table class="prose" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="h3">
						Want a great placement?
					</td>
				</tr>
				<tr>
					<td class="h5">
						What do you think about the second one
					</td>
				</tr>
				<tr>
					<td class="p">
						You can customise your account to get alerts on all the jobs and companies that interest you.
					</td>
				</tr>
				<tr>
					<td class="cta cta-bordered cta-centered">
						<table border="0" cellspacing="0" cellpadding="0"  align="center">
							<tr>
								<td>
									<a href="#">Sign Up &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

{% block heroproseoverlay %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			This is a hero layout where the hero image is flush with the prose
		</td>
	</tr>
	<tr>
		<td class="p ">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</td>
	</tr>
</table>
{% endblock %}

{% block updatesubs %} 
<table border="0" cellspacing="0" cellpadding="0" class="prose" align="left">
	<tr>
		<td class="h5 first">
			Update your account
		</td>
	</tr>
	<tr>
		<td class="p">
			You can ensure you get the emails that are of interest to you by logging in to RateMyPlacement and updating your account.
		</td>	
	</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" align="left" class="cta-wrap">
	<tr>
		<td class="cta cta-blue cta-small">
			<table border="0" cellspacing="0" cellpadding="0"  align="right">
				<tr>
					<td >
						<a href="#">Update Account</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

{% block jobrelevant %} 
<table border="0" cellspacing="0" cellpadding="0" class="prose" align="left">
	<tr>
		<td class="h5 first">
			Why did i receive this email?
		</td>
	</tr>
	<tr>
		<td class="p">
			We matched this role to the preferences you selected in your account. If this email isn't relevant to you, you can update your account.
		</td>	
	</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" align="left" class="cta-wrap">
	<tr>
		<td class="cta cta-blue cta-small">
			<table border="0" cellspacing="0" cellpadding="0"  align="right">
				<tr>
					<td >
						<a href="#">Update Account</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

{% block alljobs %} 
<table border="0" cellspacing="0" cellpadding="0" class="prose" align="left">
	<tr>
		<td class="h5 first">
			Not the Job for you?
		</td>
	</tr>
	<tr>
		<td class="p">
			We matched this role to the preferences you selected in your account. If this email isn't relevant to you, you can update your account.
		</td>	
	</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" align="left" class="cta-wrap">
	<tr>
		<td class="cta cta-blue cta-small">
			<table border="0" cellspacing="0" cellpadding="0"  align="right">
				<tr>
					<td >
						<a href="#">View Related Jobs</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

{% block placementchat %} 
<table border="0" cellspacing="0" cellpadding="0" class="prose">
	<tr>
		<td class="img first centered">
			<img src="http://media.ratemyplacement.co.uk/email-build-002/placement-chat.png" alt="Placement Chat" width="100" height="54"> 
		</td>
	</tr>
	<tr>
		<td class="h4 centered">
			Have your placement questions answered<br>
			#PlacementChat 22nd May 2014
		</td>
	</tr>
</table>
{% endblock %}

{% block studentuniverse %} 

<table border="0" cellspacing="0" cellpadding="0" class="prose">
    <tr>
        <td class="h5 centered first">
            <a href="http://www.ratemyplacement.co.uk/login?ref=http%3A%2F%2Fwww.ratemyplacement.co.uk%2Fdashboard%2Freferrals">
                Sign up 3 friends & get 10% off your next holiday<br>
                In association with
            </a>
        </td>
    </tr>
    <tr>
        <td class="img centered">
            <a href="http://www.ratemyplacement.co.uk/login?ref=http%3A%2F%2Fwww.ratemyplacement.co.uk%2Fdashboard%2Freferrals">
                <img src="http://www.ratemyplacement.co.uk/assets/img/student-universe.png" alt="Student Universe">
            </a>
        </td>
    </tr>
</table>
{% endblock %}

{% block lvintro %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="p first">Hi {~firstname~},</td>
	</tr>
	<tr>
		<td class="p">Check out these opportunities at <a href="http://www.ratemyplacement.co.uk/company-profile/783/jaguar-land-rover#tab_company_jobs
">Jaguar Land Rover</a>, <a href="http://www.ratemyplacement.co.uk/company-profile/94/ibm#tab_company_jobs">IBM</a>, <a href="http://www.ratemyplacement.co.uk/company-profile/65/deutsche-bank#tab_company_jobs">Deutsche Bank</a> and many more. A wide range of placements, internships, vacation schemes and insights are available.</td>
	</tr>
	<tr>
		<td class="p">As always, good luck!</td>
	</tr>
</table>
{% endblock %}

{% block lvpremium %} 
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
		<td class="title" colspan="3">
			{{ model.premium-title }}
		</td> 
	</tr>
	<tr>
		<td class="logo">
			<a href="{{model.premium[0].apply }}">
				<img src="{{ model.premium[0].logo }}" alt="{{ model.premium[0].company }} Logo" width="150" height="150">
			</a>
		</td>	
		<td class="logo end">
			<a href="{{model.premium[1].apply }}">
				<img src="{{ model.premium[1].logo }}" alt="{{ model.premium[1].company }} Logo" width="150" height="150">
			</a>
		</td>	
	</tr>
	<tr>
		<td class="text">
			Deadline: <span class="red">{{ model.premium[0].deadline }}</span>
		</td>
		<td class="text end">
			Deadline: <span class="red">{{ model.premium[1].deadline }}</span>
		</td>
	</tr>
	<tr>
		<td class="text">
			Duration(s): {{ model.premium[0].duration | replace:'<', '&lt;' }}
		</td>
		<td class="text end">
			Duration(s): {{ model.premium[1].duration | replace:'<', '&lt;' }}
		</td>
	</tr>
	<tr>
		<td class="cta cta-green"  align="center">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="{{ model.premium[0].apply }}">Apply Now</a>
					</td>
				</tr>
			</table>
		</td>
		<td class="cta cta-green end"  align="center">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="{{model.premium[1].apply }}">Apply Now</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

{% block lvstandard %} 
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="title" colspan="3">
			{{ model.standard-title }}
		</td> 
	</tr>

	{% for row in model.rows %}

		{% for job in row.jobs %}

		<tr class="{% if forloop.index == 1 %} row even {% else %} row odd {% endif %} ">		
			<td class="logo">
				<a href="{{  job..apply }}">
					<img src="{{ job.logo }}" alt="{{ row.jobs[0].company }} Logo">
				</a>
			</td>
			<td class="meta">
				<strong class="text">{{ job.company }}</strong><br>
				<span class="text">Deadline: <span class="red">{{ job.deadline }}</span></span><br>
				<span class="text">Duration(s): <span class="duration">{{ job.duration | replace:'<', '&lt;' }}</span></span>
			</td>
			<td class="top button-wrap" align="right">
				<table class="cta cta-green cta-circle" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td >
							<a href="{{  job..apply }}">&#8594;</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		{% endfor %}

	{% endfor %}
</table>
{% endblock %}