<tr>
    <td class="block-divider">&nbsp;</td>
</tr>
<tr>
    <td class="block-divider">&nbsp;</td>
</tr>
<tr>
	<td align="center" valign="top" class="outer-wrap outer-footer">
		<table class="footer wrap"  border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td class="p first">
					You're receiving this email because you are subscribed to the RateMyApprenticeship mailing list.<br>					
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="after-footer">
		RMP Enterprise Ltd &bull; <a href="http://www.ratemyapprenticeship.co.uk" class="reset">ratemyapprenticeship.co.uk</a> &bull; Registered in England &amp; Wales &bull; Company 6331665 &bull; VAT No 935439500<br>
		Registered Office: 22-26 Albert Embankment London SE1 7TJ
	</td>
</tr>
