<tr>
    <td class="block-divider">&nbsp;</td>
</tr>
<tr>
    <td class="block-divider">&nbsp;</td>
</tr>
<tr>
	<td align="center" valign="top" class="outer-wrap">
		<table class="footer wrap prose marketing-footer"  border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td class="h5">
					Thanks for reading from the RateMyPlacement Team
				</td>
			</tr>
			<tr>
				<td class="p">
					Whether you're looking for a placement, internship, vacation scheme or insight we're here to help and would love to hear from you! If you have any questions tweet us at <a href="https://twitter.com/ratemyplacement">@RateMyPlacement</a>.
				</td>
			</tr>
			<tr>
				<td>
					<img src="http://media.ratemyplacement.co.uk/email-build-002/email-footer-v3.jpg" class="img-fix" alt="The Wonderful Team at RateMyPlacement"/>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="after-footer">
		You're receiving this email because you are subscribed to the RateMyPlacement mailing list.<br>
		<a href="http://www.ratemyplacement.co.uk/dashboard/my-account">Manage my email settings</a> | <a href="http://www.ratemyplacement.co.uk/unsubscribe?email={~email~}">Unsubscribe</a>.<br>				
		RMP Enterprise Ltd &bull; <a href="http://www.ratemyplacement.co.uk" class="reset" >ratemyplacement.co.uk</a> &bull; Registered in England &amp; Wales &bull; Company 6331665 &bull; VAT No 935439500<br>
		Registered Office: 22-26 Albert Embankment London SE1 7TJ
	</td>
</tr>
