<table class=" wrap"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="header-wrap">
			<table class="header" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="logo">
						<a href="http://www.ratemyapprenticeship.co.uk/">
							<img src="http://media.ratemyapprenticeship.co.uk.s3.amazonaws.com/transactional-email/rmalogo.png" alt="RateMyApprenticeship.co.uk" width="274" height="30">
						</a>
					</td>
					<td class="right cta cta-small" align="right">
						<table border="0" cellspacing="0" cellpadding="0"  align="right">
							<tr>
								<td>
									<a href="http://www.ratemyapprenticeship.co.uk/login">Login</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
