<tr>
    <td class="block-divider">&nbsp;</td>
</tr>
<tr>
    <td class="block-divider">&nbsp;</td>
</tr>
<tr>
	<td align="center" valign="top" class="outer-wrap"> 
		<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
			<tr>
				<td class="share-footer">
					<table border="0" cellspacing="0" cellpadding="0" class="prose" style="width: 100%;">
						<tr>
							<td class="h5 first centered">
								Share this message
							</td>
						</tr>
						<tr>
							<td class="share-icons">
								<a href="https://twitter.com/share?text=RateMyPlacement%20Email&url=http://{~customDomain~}/interface/external_view_email.php?{~mailId~}">
									<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-build-002/twitter2014.png" alt="Share on Twitter" height="48" width="48">
								</a>						
								<a href="https://www.facebook.com/sharer/sharer.php?u=http://{~customDomain~}/interface/external_view_email.php?{~mailId~}">
									<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-build-002/facebook2014.png" alt="Share on Facebook" height="48" width="48">
								</a>
								<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://{~customDomain~}/interface/external_view_email.php?{~mailId~}">
									<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-build-002/linkedin2014.png" alt="Share on LinkedIn" height="48" width="48">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
    <td class="block-divider">&nbsp;</td>
</tr>
<tr>
    <td class="block-divider">&nbsp;</td>
</tr>
<tr>
	<td align="center" valign="top" class="outer-wrap outer-footer">
		<table class="footer wrap"  border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td class="p first">
					You're receiving this email because you are subscribed to the RateMyPlacement mailing list.<br>
					<a href="http://www.ratemyplacement.co.uk/dashboard/my-account">Manage my email settings</a> &nbsp; | &nbsp; <a href="http://www.ratemyplacement.co.uk/unsubscribe?email={~email~}">Unsubscribe</a>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="after-footer">
		RMP Enterprise Ltd &bull; <a href="http://www.ratemyplacement.co.uk" class="reset">ratemyplacement.co.uk</a> &bull; Registered in England &amp; Wales &bull; Company 6331665 &bull; VAT No 935439500<br>
		Registered Office: 22-26 Albert Embankment London SE1 7TJ
	</td>
</tr>
