@import '../variables.less';

@media only screen and (max-width: @mqWidth) {
	*[class^="backgroundTable"] {
		.column-2-left,
		.column-2-right {
			padding: 15px @imp;

			.column-main,
			.column-sidebar {
				padding: 0 @imp; 
				width: 100% @imp;
			}

			.column-main-inner,
			.column-sidebar-inner {
				padding: 0 @imp;
				> table {
					width: 100% @imp;
				}
			}

			.column-main-inner {
				padding-top: 20px @imp;
			}
			.column-sidebar-inner {
				.logo-block {
					margin: 0 auto @imp;
					width: 150px @imp; 
					float: none @imp;
				}
				.dd,
				.dt {
					font-size: 14px @imp;
					text-align: center @imp;
				}
			}
		}
	}
}