@import '../variables.less';

@media only screen and (max-width: @mqWidth) {
	*[class^="backgroundTable"] {
		.latest-vacancies {

			.intro {
				padding: 15px @imp;
			} 

			.wrap {
				margin: 0 @imp;  
				width: 100% @imp;
			}
			.block-divider {
				display: none @imp;
			}
			.standard, 
			.premium {
				padding: 15px 0 @imp;
			}

			.standard { 

				.logo {
					min-width: 80px @imp; 
					text-align: left @imp;
					padding: 7px 0 7px 7px @imp;
				}
				.meta {
					max-width: 130px @imp;
					padding-right: 0 @imp;				
				}
				.button-wrap {
					width: 50px @imp;
					.cta {
						//margin: 0 auto;
					}
				}

			}
		}
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 480px) {
	*[class^="backgroundTable"] {
		.latest-vacancies {	
			.standard { 
				padding: 5px !important;

				.button-wrap {
					width: 40px @imp;
					.cta a {
						padding: 5px @imp;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 320px) { 
	*[class^="backgroundTable"] {
		.latest-vacancies {
			.standard, 
			.premium {
				padding: 5px @imp;
			}
			.button-block {
				padding: 5px @imp;
			}
			.standard { 
				.logo {
					min-width: 100px @imp; 
				}
				.meta {
					max-width: 120px @imp;					
				}
			}

		}		
	}
}



