@import '../variables.less';
@media only screen and (max-width: @mqWidth) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 480px) {
	*[class^="backgroundTable"] {

	}
}

@media only screen and (max-width: 320px) { 
	*[class^="backgroundTable"] {

	}
}



