{% block prose %}
	<h1>RateMyPlacement Email Templates</h1>

	<h2>Documentation</h2>
		<ul>
			<li><a href="#">Installation</a></li>
			<li><a href="#">Getting Started</a></li>
			<li><a href="#">Browser Support</a></li>
			<li><a href="#">Todo List</a></li>
		</ul>

	<h2>Style Guide</h2>
	<ul>
		<li>
			<a href="/core/style-guide">Style Guide</a>
		</li>
	</ul>

	<h2>Core Templates</h2>
	<ul>
		<li>
			<a href="/core/external">External</a>
		</li>
		<li>
			<a href="/core/frame">Frame</a>
		</li>
		<li>
			<a href="/core/hero">Hero</a>
		</li>
		<li>
			<a href="/core/internal-message">Internal Message</a>
		</li>
		<li>
			<a href="/core/jobs">Jobs</a>
		</li>
		<li>
			<a href="/core/newsletter">Newsletter</a>
		</li>
		<li>
			<a href="/core/text">Text Only</a>
		</li>
	</ul>

	<h2>Transactional Templates</h2>
		{% collection "transactional" order asc %}
		{% assign myitems = collection.items | sort:'title' %}
		  <ul>
		  {% for post in myitems %}
		    <li><a href="{{ post.slug }}">{{ post.title }}</a></li>
		  {% endfor %}
		  </ul>
		{% endcollection %}

	{% endblock %}

