.blog {

	.block-border {border: 0;}

	.blog-lead {
		padding-bottom: 30px;
		border-bottom: 1px solid #d1d1d1;

		.prose {width: 100%;}
		.icons { 
			text-align: center;
		}
		.share-icons {
			padding-top: 15px;
			text-align: center;

			a {
				text-decoration: none;
			}
		}

		.featured-img {
			text-align: center;
		}

		.h3 {text-align: center;}
	}
	.blog-copy {
		padding: 30px 20px 30px 20px;
		border-bottom: 1px solid #d1d1d1;
	}
}