@import 'variables.less';

.company-wrap {
	padding: 20px;
	background: #FFF;

	.company {
		width: 100%;
		.left {
			width: 100px;
			vertical-align: top;		

			img {
				border: 1px solid #d1d1d1;
			}

			.divider { 
				line-height: 3px;
				font-size: 3px;
			}
		}

		.right {
			vertical-align: middle;
			width: 380px;

		}
		.dt {
			font-weight: normal;
			padding: 0;
			padding-right: 10px;
			padding-top: 10px;
		}

		.dd {
			color: #838789;
			padding: 0;
			padding-top: 10px;
		}

		.cta {
			padding-top: 10px;
		}
	}

}