.footer-message {
	padding: 20px;
	border: 1px solid @DarkBlue;
	.prose {
		width: 320px;
		margin: 0;
		.p,
		.h5 {
			color: @DarkBlue;
		}
	}
	.cta-wrap {
		width: 160px;
		margin: 0;
		.cta {
			padding-top: 35px;
		}
	}
	&.placement-chat {
		.prose {
			width: 100%;
		}
	}
	&.student-universe {
		.prose {
			width: 100%;
		}
		.h5 a {
			font-weight: normal;
			text-decoration: none;
		}
	}

}

.share-footer {
	tr .h5 {
		color: @bodyCopy;
	}
	.share-icons {
		text-align: center;
		padding-top: 15px;
		img {
			padding-left: 10px;
			padding-right: 10px;
		}
		a {text-decoration: none;}
	}
}