.hero-wrap {
 
	.hero {
		width: 100%; 

		img {
			width: 100%;
			color: #000000;
			font-family: @fontBody;
		}

		&.overlay {
			.inner {
				padding: 40px;
				//padding-bottom: 60px;
			}
			.prose {
				width: 100%;
			}
			.h3,.h5,.p,a {
				color: #FFF;
				text-align: center;
			}
			.h5 {
				padding-top: 10px;
			}
			.featured-img  {
				text-align: center;

				img {width: auto;}
			}
		}
	}

	.hero-caption {
		background: @DarkBlue;
		text-align: center;
		font-family: @fontHeader;
		font-size: 18px;
		line-height: @baseLineHeight;		
		color: #FFFFFF;
		padding: 20px;
		font-weight: @bodyHeaderWeight;

		a {
			color: @linkColor;
			text-decoration: none;
			font-weight: 700;
		}
	}
	.hero-lead {
		background: #ECECEC;
		padding: 20px;
		font-family: @fontBody;
		font-size: 13px;
		color: #666666;
		line-height: 23px;
	}


}