.jobs-table {
	padding: 10px 0 0 0;	

	> table {
		text-align: left;
		font-family: @fontBody;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;		
		width: 100%;
		border-top: 1px solid #d1d1d1; 
		//border-left: 1px solid #d1d1d1; 
		//border-right: 1px solid #d1d1d1; 
	}

	td {
		padding: 10px 5px;
		border-bottom: 1px solid #d1d1d1; 
	}

	.icon {
		width: 18px;
	}
	.title {
		a {
			border-bottom: 0;
		}
	}
	.arrow {
		width: 25px;		
		font-size: 8px;
		text-align: right;

		a {
			border-radius: 50%;
			color: @Green;
			height: 20px;
			width: 21px;
			display: block;
			text-align: center;
			line-height: 22px;
			border: 1px solid @Green;
			text-decoration: none;
		}
	}

	.cta {
		td {
			padding: 0;
			a {line-height: 16px;}
		}
	}
}
 