.latest-vacancies {
	.wrap-inner {
		background: #FFFFFF;
		> table {width: 100%;}
	}

	.intro {
		padding-top: 30px; 
		padding-left: 30px;
		padding-right: 30px;	

		.p.first {
			padding-top: 0;
		}
		.p {
			font-size: 13px;
			padding-top: 13px;
			line-height: 18px;
		}
	}

	.red {
		color: #C50000;
	}

	.standard,
	.premium {
		padding: 20px; 
		background: #FFFFFF;

		> table {
			width: 100%;
			font-family: @fontHeader;
			color: @bodyHeader;
			text-align: center;
			font-size: 11px;
			line-height: 15px;
			background: #FFFFFF;
		}

		.title {
			font-size: 18px;
			line-height: 20px;
			padding: 15px;
			border-bottom: 1px solid #EEEEEE;
			background: #005CB3;
			color: #FFFFFF;
		}

		.cta {
			padding: 10px 0;
			
			table {
				margin-left: auto;
				margin-right: auto;
			}
		}

	}


	.standard {
		.logo {
			width: 25%;
			vertical-align: top;
			border-left: 1px solid #EEEEEE;
			img {
				border: 1px solid #EEEEEE;
			}
		}
		.row  {
			> td {
				padding: 15px;					
				border-bottom: 1px solid #EEEEEE;
			}
			&.odd {
				> td {
					background: @LightestGrey; 
				}					
			}
			.meta {
				text-align: left;
				font-family: @fontBody;
				color: @bodyCopy;
				font-size: 11px;
				line-height: 15px;
				width: 50%;
				padding-left: 0;
				padding-right: 10px;
			}
			.button-wrap {
				width: 25%;
				border-right: 1px solid #EEEEEE;

				a {
					padding: 10px;
					border-radius: 50%;
					line-height: 11px;
					border: 2px solid @Green;
					background: transparent;
					color: @Green;
					font-weight: bold;
					text-decoration: none;
				}
			}
		}
	} 

	.premium {
		> table {
			border-bottom: 1px solid #EEEEEE;
		}
		.logo {
			padding-top: 10px;
			padding-bottom: 10px;
			width: 48%;
			border-left: 1px solid #EEEEEE;
			img {border: 1px solid #EEEEEE;}
		}
		.text {						
			padding-bottom: 5px;
			border-left: 1px solid #EEEEEE;		
		}
		.cta {
			border-left: 1px solid #EEEEEE;
		}
		.end {
			border-right: 1px solid #EEEEEE;
			background: @LightestGrey;
		}
	}

	.button-block {
		padding: 20px;  
		padding-top: 0;

		.prose {
			width: 100%;

			.h5 {
				padding-top: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid #dddddd;
			}

			.p {
				width: 50%;
				line-height: 16px;
				padding-top: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid #dddddd;
				text-align: left @imp;
				a {
					font-weight: normal;
				}
			}

			.first {				
				border-top: 0;
			}
		}
	}


}