.newsletter {
	background: #FFFFFF;
	.prose-wrap {
		padding: 20px 20px 0 20px;
	}
	.hr-top {
		line-height: 20px;
		height: 20px;
		font-size: 20px;
	}
	.hr-bottom {
		border-top: 1px solid #e7e7e7;
		line-height: 10px;
		height: 10px;
		font-size: 10px;
	}


	.featured-review,
	.featured-opportunity {
		padding: 20px 20px 0 20px;

		.prose {
			background: @Orange;
		}
		.h3 {
			font-family: Arial, sans-serif;
			font-weight: 400;
			color: #FFF;
			padding: 15px 20px 5px 20px;
			text-transform: initial;
		}
		.p {
			color: #FFF;
			padding: 5px 20px;
		}
		a {color: #FFF;}
		.comp-logo {
			text-align: center;
			background: #FFF;
			border: 1px solid #d1d1d1;
		}
	}

	.featured-quote {
		padding: 20px 20px 0 20px;

		.comp-logo {
			text-align: center;
			background: @Orange;
			border: 1px solid #d1d1d1;
			padding: 20px;
		}
	}
	.prose-wrap.last {
		padding-bottom: 20px;
	}

} 